@font-face {
  font-family: "Bebas Neue";
  src: url("/BebasNeue-Regular.woff2") format('woff2');
  font-style: normal;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Bebas Neue", system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  letter-spacing: -0.03em;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}